In [48]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [31]:
blafri_dataframe=pd.read_csv('BlackFriday.csv')

In [32]:
blafri_dataframe

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,M,18-25,18,C,1,0,1,2.0,15.0,11543
537548,1004734,P00111042,M,51-55,1,B,1,1,15,NaN,NaN,20924
537549,1004734,P00345842,M,51-55,1,B,1,1,2,8.0,14.0,13082
537550,1004735,P00278242,M,46-50,3,C,3,0,1,NaN,NaN,11658
537551,1004735,P00313442,M,46-50,3,C,3,0,5,6.0,8.0,6863
537552,1004735,P0098642,M,46-50,3,C,3,0,6,8.0,NaN,16415
537553,1004735,P00119342,M,46-50,3,C,3,0,10,13.0,NaN,18526
537554,1004735,P00114042,M,46-50,3,C,3,0,5,14.0,NaN,7099
537555,1004735,P00135142,M,46-50,3,C,3,0,13,16.0,NaN,578
537556,1004736,P00194542,M,18-25,20,A,1,1,8,14.0,NaN,2183
537557,1004736,P00175242,M,18-25,20,A,1,1,2,NaN,NaN,12724
537558,1004736,P00101942,M,18-25,20,A,1,1,8,17.0,NaN,7796
537559,1004736,P00109142,M,18-25,20,A,1,1,8,17.0,NaN,7770
537560,1004736,P00084842,M,18-25,20,A,1,1,8,16.0,NaN,5940
537561,1004736,P00078142,M,18-25,20,A,1,1,8,16.0,NaN,7834
537562,1004736,P00146742,M,18-25,20,A,1,1,1,13.0,14.0,11508
537563,1004736,P00154642,M,18-25,20,A,1,1,8,NaN,NaN,6074
537564,1004736,P00117442,M,18-25,20,A,1,1,5,14.0,NaN,7084
537565,1004736,P00051142,M,18-25,20,A,1,1,8,NaN,NaN,7934
537566,1004736,P00048742,M,18-25,20,A,1,1,5,NaN,NaN,5350
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,NaN,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,NaN,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [33]:
blafri_dataframe.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,370591.000000,164278.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.842144,12.669840,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,5.087259,4.124341,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,5.000000,9.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,9.000000,14.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,15.000000,16.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

There seems to be many rows that are NaN and if we drop these rows then we lose more than 50% of our data... Another good technique to handle missing values is to replace the values with the mean of the column... Let us give it a try... Since all values are seem to be values with no decimal places, I will round off the mean

In [34]:
blafri_dataframe.Product_Category_2.replace(np.nan, 10.0, inplace=True)
blafri_dataframe.Product_Category_3.replace(np.nan, 13.0, inplace=True)

In [35]:
blafri_dataframe

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,10.0,13.0,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,10.0,13.0,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,13.0,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,10.0,13.0,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,13.0,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,13.0,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,13.0,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,10.0,13.0,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,13.0,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,10.0,13.0,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,10.0,13.0,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,13.0,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,13.0,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,13.0,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,10.0,13.0,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,10.0,13.0,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,10.0,13.0,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,13.0,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,10.0,13.0,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,13.0,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,M,18-25,18,C,1,0,1,2.0,15.0,11543
537548,1004734,P00111042,M,51-55,1,B,1,1,15,10.0,13.0,20924
537549,1004734,P00345842,M,51-55,1,B,1,1,2,8.0,14.0,13082
537550,1004735,P00278242,M,46-50,3,C,3,0,1,10.0,13.0,11658
537551,1004735,P00313442,M,46-50,3,C,3,0,5,6.0,8.0,6863
537552,1004735,P0098642,M,46-50,3,C,3,0,6,8.0,13.0,16415
537553,1004735,P00119342,M,46-50,3,C,3,0,10,13.0,13.0,18526
537554,1004735,P00114042,M,46-50,3,C,3,0,5,14.0,13.0,7099
537555,1004735,P00135142,M,46-50,3,C,3,0,13,16.0,13.0,578
537556,1004736,P00194542,M,18-25,20,A,1,1,8,14.0,13.0,2183
537557,1004736,P00175242,M,18-25,20,A,1,1,2,10.0,13.0,12724
537558,1004736,P00101942,M,18-25,20,A,1,1,8,17.0,13.0,7796
537559,1004736,P00109142,M,18-25,20,A,1,1,8,17.0,13.0,7770
537560,1004736,P00084842,M,18-25,20,A,1,1,8,16.0,13.0,5940
537561,1004736,P00078142,M,18-25,20,A,1,1,8,16.0,13.0,7834
537562,1004736,P00146742,M,18-25,20,A,1,1,1,13.0,14.0,11508
537563,1004736,P00154642,M,18-25,20,A,1,1,8,10.0,13.0,6074
537564,1004736,P00117442,M,18-25,20,A,1,1,5,14.0,13.0,7084
537565,1004736,P00051142,M,18-25,20,A,1,1,8,10.0,13.0,7934
537566,1004736,P00048742,M,18-25,20,A,1,1,5,10.0,13.0,5350
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,13.0,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,10.0,13.0,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,13.0,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,13.0,15491
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,13.0,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,13.0,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,10.0,13.0,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,13.0,6875

We have a look at the statistics on the dataframe once more to ensure that not much variation has occured

In [36]:
blafri_dataframe.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.375770e+05,537577.00000,537577.000000,537577.000000,537577.000000,537577.000000,537577.000000
mean,1.002992e+06,8.08271,0.408797,5.295546,9.891178,12.899107,9333.859853
std,1.714393e+03,6.52412,0.491612,3.750701,4.224504,2.285005,4981.022133
min,1.000001e+06,0.00000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001495e+06,2.00000,0.000000,1.000000,8.000000,13.000000,5866.000000
50%,1.003031e+06,7.00000,0.000000,5.000000,10.000000,13.000000,8062.000000
75%,1.004417e+06,14.00000,1.000000,8.000000,14.000000,13.000000,12073.000000
max,1.006040e+06,20.00000,1.000000,18.000000,18.000000,18.000000,23961.000000

In [38]:
unique_occupation=set(blafri_dataframe.Occupation.values)
unique_product1=set(blafri_dataframe.Product_Category_1.values)
unique_product2=set(blafri_dataframe.Product_Category_2.values)
unique_product3=set(blafri_dataframe.Product_Category_3.values)

In [39]:
print(unique_occupation)
print(unique_product1)
print(unique_product2)
print(unique_product3)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18}
{2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0}
{3.0, 4.0, 5.0, 6.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0}

Let us have a look at what kind of data we may be dealing with

In [40]:
blafri_dataframe.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

Now let us consider this... The product categories are quite similar however they are floats and ints... Let us keep them consistent and convert all to integers since we see that there are no decimal values

In [44]:
blafri_dataframe.Product_Category_2=blafri_dataframe.Product_Category_2.astype(int)
blafri_dataframe.Product_Category_3=blafri_dataframe.Product_Category_3.astype(int)

In [45]:
blafri_dataframe.dtypes

User_ID                        int64
Product_ID                    object
Gender                        object
Age                           object
Occupation                     int64
City_Category                 object
Stay_In_Current_City_Years    object
Marital_Status                 int64
Product_Category_1             int64
Product_Category_2             int64
Product_Category_3             int64
Purchase                       int64
dtype: object

Now it does seem odd to have age and gender as objects(Strings). Let us try to change them, but first let us have a look with what we are working with

In [46]:
unique_age=set(blafri_dataframe.Age.values)
unique_gender=set(blafri_dataframe.Gender.values)

In [47]:
print(unique_age)
print(unique_gender)

{'0-17', '55+', '46-50', '18-25', '36-45', '26-35', '51-55'}
{'F', 'M'}

So since it is much better for models to learn with numeric data, let us convert these categorical variables to numeric category variables

In [50]:
label_encoder=LabelEncoder()
label_encoder.fit(blafri_dataframe.Age)
blafri_dataframe.Age=label_encoder.transform(blafri_dataframe.Age)

In [51]:
label_encoder_gender=LabelEncoder()
label_encoder_gender.fit(blafri_dataframe.Gender)
blafri_dataframe.Gender=label_encoder_gender.transform(blafri_dataframe.Gender)

So after using SKLearns Label encoder we then updated the columns in the dataframe to numeric categorical values

In [53]:
blafri_dataframe

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,0,0,10,A,2,0,3,10,13,8370
1,1000001,P00248942,0,0,10,A,2,0,1,6,14,15200
2,1000001,P00087842,0,0,10,A,2,0,12,10,13,1422
3,1000001,P00085442,0,0,10,A,2,0,12,14,13,1057
4,1000002,P00285442,1,6,16,C,4+,0,8,10,13,7969
5,1000003,P00193542,1,2,15,A,3,0,1,2,13,15227
6,1000004,P00184942,1,4,7,B,2,1,1,8,17,19215
7,1000004,P00346142,1,4,7,B,2,1,1,15,13,15854
8,1000004,P0097242,1,4,7,B,2,1,1,16,13,15686
9,1000005,P00274942,1,2,20,A,1,1,8,10,13,7871
10,1000005,P00251242,1,2,20,A,1,1,5,11,13,5254
11,1000005,P00014542,1,2,20,A,1,1,8,10,13,3957
12,1000005,P00031342,1,2,20,A,1,1,8,10,13,6073
13,1000005,P00145042,1,2,20,A,1,1,1,2,5,15665
14,1000006,P00231342,0,5,9,A,1,0,5,8,14,5378
15,1000006,P00190242,0,5,9,A,1,0,4,5,13,2079
16,1000006,P0096642,0,5,9,A,1,0,2,3,4,13055
17,1000006,P00058442,0,5,9,A,1,0,5,14,13,8851
18,1000007,P00036842,1,3,1,B,1,1,1,14,16,11788
19,1000008,P00249542,1,2,12,C,4+,1,1,5,15,19614
20,1000008,P00220442,1,2,12,C,4+,1,5,14,13,8584
21,1000008,P00156442,1,2,12,C,4+,1,8,10,13,9872
22,1000008,P00213742,1,2,12,C,4+,1,8,10,13,9743
23,1000008,P00214442,1,2,12,C,4+,1,8,10,13,5982
24,1000008,P00303442,1,2,12,C,4+,1,1,8,14,11927
25,1000009,P00135742,1,2,17,C,0,0,6,8,13,16662
26,1000009,P00039942,1,2,17,C,0,0,8,10,13,5887
27,1000009,P00161442,1,2,17,C,0,0,5,14,13,6973
28,1000009,P00078742,1,2,17,C,0,0,5,8,14,5391
29,1000010,P00085942,0,3,1,B,4+,1,2,4,8,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,1,1,18,C,1,0,1,2,15,11543
537548,1004734,P00111042,1,5,1,B,1,1,15,10,13,20924
537549,1004734,P00345842,1,5,1,B,1,1,2,8,14,13082
537550,1004735,P00278242,1,4,3,C,3,0,1,10,13,11658
537551,1004735,P00313442,1,4,3,C,3,0,5,6,8,6863
537552,1004735,P0098642,1,4,3,C,3,0,6,8,13,16415
537553,1004735,P00119342,1,4,3,C,3,0,10,13,13,18526
537554,1004735,P00114042,1,4,3,C,3,0,5,14,13,7099
537555,1004735,P00135142,1,4,3,C,3,0,13,16,13,578
537556,1004736,P00194542,1,1,20,A,1,1,8,14,13,2183
537557,1004736,P00175242,1,1,20,A,1,1,2,10,13,12724
537558,1004736,P00101942,1,1,20,A,1,1,8,17,13,7796
537559,1004736,P00109142,1,1,20,A,1,1,8,17,13,7770
537560,1004736,P00084842,1,1,20,A,1,1,8,16,13,5940
537561,1004736,P00078142,1,1,20,A,1,1,8,16,13,7834
537562,1004736,P00146742,1,1,20,A,1,1,1,13,14,11508
537563,1004736,P00154642,1,1,20,A,1,1,8,10,13,6074
537564,1004736,P00117442,1,1,20,A,1,1,5,14,13,7084
537565,1004736,P00051142,1,1,20,A,1,1,8,10,13,7934
537566,1004736,P00048742,1,1,20,A,1,1,5,10,13,5350
537567,1004736,P00157542,1,1,20,A,1,1,8,14,13,1994
537568,1004736,P00250642,1,1,20,A,1,1,11,10,13,5930
537569,1004736,P00023142,1,1,20,A,1,1,5,14,13,7042
537570,1004736,P00162442,1,1,20,A,1,1,1,16,13,15491
537571,1004737,P00221442,1,3,16,C,1,0,1,2,5,11852
537572,1004737,P00193542,1,3,16,C,1,0,1,2,13,11664
537573,1004737,P00111142,1,3,16,C,1,0,1,15,16,19196
537574,1004737,P00345942,1,3,16,C,1,0,8,15,13,8043
537575,1004737,P00285842,1,3,16,C,1,0,5,10,13,7172
537576,1004737,P00118242,1,3,16,C,1,0,5,8,13,6875

Okay so how the heck do I choose the features for this dataset. Let us think about each feature(column):
<table border="1">
<tr>
    <td>
        User ID
    </td>
    <td>
    So this seems to be a unique identifier for a specific user and since we don't really need to concern ourselves with the identity of the person who made the purchase then we can leave this out!
    </td>
</tr>


<tr>
    <td>
        Product ID
    </td>
    <td>
     This is similar to the previous reason. We are not really concerned with the specific information of the product, then we can leave this out
    </td>
</tr>

<tr>
    <td>
        Gender
    </td>
    <td>
        Since it does seem that the gender of the individual may effect the purchase price. We can visualize this relationship using a scatter plot to confirm this
    </td>
</tr>

<tr>
    <td>
        Age
    </td>
    <td>
        The age of the individual may impact the purchase price, but to confirm, we can also view this on a scatterplot
    </td>
</tr>

<tr>
    <td>
        Occupation
    </td>
     <td>
        The job category may influence their purchase price
    </td>
</tr>

<tr>
    <td>
        City_Category
    </td>
    <td>
        I am unsure of whether the category of the city may influence the purchase price so to reduce the input dimensions, I will initially decide to leave this out
    </td>
</tr>

<tr>
    <td>
        Stay_In_Current_City_Years
    </td>
    <td>
        Hmmm the amount of years that a person has stayed in a city is a bit difficult to assume that it directly effects the purchase price and this may be entirely biased but I will leave this out as well
    </td>
</tr>

<tr>
    <td>
        Marital_Status
    </td>
    <td>
        Marital_Status
    </td>
</tr>

<tr>
    <td>
        Product_Category_1, Product_Category_2, Product_Category_3
    </td>
</tr>

<tr>
    <td>
        Purchase
    </td>
</tr>

</table>